In [1]:
import numpy as np
from datascience import *
import random
import pandas as pd
import os 

# These lines do some fancy plotting magic
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore')
from datetime import datetime

In [2]:
#generates mock distribution of ratings
def generateValue():
  r = random.random()
  if r < 0.1:
    return 1
  elif  r < 0.3:
    return 2
  elif r < 0.6:
    return 3
  elif r < 0.9:
    return 4
  else:
    return 5 

#number of reviews 
big_size = 500

ratings = make_array()
for i in range(big_size):
  ratings = np.append(ratings, generateValue())

ratings

array([ 4.,  3.,  5.,  4.,  3.,  3.,  4.,  2.,  1.,  2.,  5.,  4.,  2.,
        5.,  4.,  5.,  4.,  3.,  2.,  3.,  3.,  3.,  3.,  4.,  3.,  2.,
        4.,  4.,  1.,  2.,  1.,  4.,  4.,  3.,  3.,  4.,  2.,  4.,  4.,
        4.,  3.,  1.,  2.,  3.,  4.,  2.,  5.,  2.,  1.,  4.,  3.,  2.,
        2.,  4.,  4.,  3.,  2.,  4.,  4.,  2.,  4.,  3.,  4.,  4.,  3.,
        5.,  5.,  3.,  4.,  2.,  3.,  3.,  2.,  3.,  4.,  4.,  2.,  3.,
        4.,  4.,  4.,  4.,  2.,  4.,  5.,  1.,  3.,  5.,  4.,  4.,  4.,
        3.,  1.,  4.,  2.,  4.,  4.,  3.,  5.,  2.,  2.,  4.,  4.,  4.,
        3.,  4.,  3.,  3.,  4.,  5.,  4.,  3.,  3.,  1.,  4.,  3.,  3.,
        3.,  3.,  3.,  3.,  4.,  2.,  2.,  4.,  2.,  4.,  3.,  4.,  3.,
        3.,  2.,  4.,  1.,  4.,  4.,  4.,  3.,  3.,  4.,  3.,  3.,  3.,
        2.,  5.,  3.,  4.,  5.,  3.,  5.,  4.,  5.,  4.,  1.,  4.,  4.,
        2.,  3.,  2.,  3.,  1.,  2.,  1.,  4.,  4.,  5.,  5.,  3.,  3.,
        2.,  3.,  5.,  1.,  4.,  3.,  4.,  4.,  3.,  2.,  1.,  2.,  3.,
        3.,  5.,  2.,  4.,  1.,  1.,  2.,  2.,  4.,  4.,  5.,  3.,  2.,
        3.,  4.,  3.,  4.,  4.,  3.,  4.,  4.,  4.,  4.,  3.,  4.,  3.,
        2.,  3.,  5.,  2.,  5.,  3.,  3.,  4.,  4.,  4.,  3.,  3.,  4.,
        2.,  5.,  5.,  3.,  2.,  3.,  4.,  2.,  4.,  5.,  3.,  2.,  4.,
        3.,  2.,  3.,  3.,  3.,  3.,  4.,  4.,  3.,  4.,  1.,  2.,  4.,
        2.,  3.,  3.,  1.,  4.,  4.,  3.,  5.,  5.,  1.,  2.,  4.,  4.,
        4.,  4.,  2.,  5.,  2.,  3.,  2.,  4.,  4.,  3.,  4.,  2.,  4.,
        2.,  3.,  3.,  3.,  4.,  3.,  4.,  5.,  3.,  4.,  3.,  4.,  1.,
        4.,  3.,  3.,  2.,  3.,  4.,  4.,  3.,  1.,  3.,  4.,  3.,  5.,
        3.,  4.,  1.,  4.,  1.,  2.,  4.,  4.,  1.,  4.,  4.,  2.,  5.,
        4.,  4.,  3.,  3.,  3.,  4.,  5.,  5.,  4.,  2.,  3.,  2.,  4.,
        4.,  2.,  3.,  4.,  2.,  4.,  1.,  2.,  4.,  4.,  3.,  3.,  3.,
        4.,  5.,  3.,  3.,  4.,  1.,  3.,  5.,  5.,  2.,  1.,  1.,  3.,
        4.,  4.,  2.,  4.,  4.,  2.,  4.,  2.,  4.,  1.,  4.,  3.,  2.,
        1.,  5.,  4.,  3.,  4.,  3.,  4.,  2.,  3.,  4.,  4.,  4.,  4.,
        4.,  2.,  3.,  2.,  1.,  2.,  3.,  2.,  4.,  3.,  3.,  3.,  2.,
        2.,  3.,  1.,  3.,  2.,  4.,  3.,  2.,  2.,  4.,  4.,  4.,  3.,
        4.,  4.,  3.,  4.,  2.,  1.,  3.,  3.,  2.,  4.,  3.,  4.,  2.,
        3.,  3.,  4.,  2.,  4.,  3.,  1.,  3.,  3.,  2.,  4.,  2.,  2.,
        2.,  4.,  4.,  4.,  2.,  5.,  4.,  3.,  4.,  5.,  2.,  4.,  4.,
        4.,  3.,  3.,  4.,  1.,  4.,  4.,  3.,  2.,  4.,  4.,  4.,  4.,
        3.,  3.,  4.,  1.,  5.,  4.,  2.,  1.,  3.,  4.,  3.,  4.,  3.,
        4.,  5.,  4.,  4.,  4.,  2.,  4.,  4.,  3.,  3.,  4.,  2.,  4.,
        3.,  4.,  3.,  3.,  2.,  3.,  2.,  4.,  1.,  4.,  3.,  3.,  3.,
        5.,  5.,  3.,  3.,  2.,  3.])

In [3]:
reviews = Table().with_column("ratings", ratings)
reviews

ratings
4
3
5
4
3
3
4
2
1
2
... (490 rows omitted)

In [4]:
#simulated data of importances, in full model would use real data 
importance = np.random.gumbel(150, 50, big_size)
importance

array([ 169.49198585,  111.57398216,  304.75992838,  126.2385845 ,
        149.92733155,  287.36444911,  386.34184174,  215.18900585,
        217.94559453,  100.33015823,  105.82505474,  112.96582956,
         78.00361969,  122.8053056 ,  192.90907792,  220.94463508,
        179.86556906,  118.05742332,  181.78694759,  162.49211845,
        176.02638002,  216.31814194,  240.41697686,  345.3036211 ,
        265.71174599,  127.29642408,  177.08261322,  136.55851164,
        212.96638395,  141.74077546,  257.67886782,  218.00729292,
        147.06022896,  122.10396004,  237.81799075,  346.30306581,
         88.16204536,  177.46415251,  163.62870253,  188.1481927 ,
        139.35816622,  185.62459815,  148.91152413,  191.13362961,
        160.8131272 ,   92.60391269,  155.70908947,  161.70619193,
        101.65905569,   98.46110668,  166.44475209,  202.79282696,
        169.23091973,  262.54669673,  115.99433074,  142.82733497,
        292.16149653,  159.78009255,  162.47457928,  217.02921818,
        125.55617493,  165.68566364,  171.81040152,  177.74355766,
        149.93113494,  166.39872575,  154.39875601,  216.54147229,
        199.96742433,  224.14364486,  287.30641366,  139.36836807,
        108.69645646,  109.49382235,  195.99902816,  221.33293223,
        139.709683  ,  170.44735687,  173.83198233,  163.5502394 ,
        159.91343022,   93.53832551,  268.5572419 ,  125.89123626,
        135.94215972,  237.10333955,  447.31258155,  135.38093337,
        155.12810063,  197.45235758,  192.19477258,  153.2469168 ,
        218.68713963,  203.51434872,  279.64050107,  128.73939608,
        137.51049841,  153.77757371,   92.71297823,  130.8043302 ,
        132.93722346,  260.62262938,  221.17007957,  153.77058088,
        154.92070118,  256.26665252,  233.11293995,  172.13639322,
        101.41257558,  158.80202833,  273.77629443,   68.70601059,
        259.22494245,  160.89179733,  122.68971376,   85.59928751,
        161.97484629,  171.48153226,  100.42442358,  212.78296745,
        124.04418083,  242.70580826,  159.4307398 ,  210.25332918,
        177.97407485,  190.53750337,  229.41011269,  296.71319604,
        220.55355831,  174.95322765,  141.01132504,  153.40289015,
        168.28579037,  105.57972484,  174.81875197,  101.10135426,
        185.67474301,  159.33068064,  199.44630109,  115.51421635,
        173.33995465,  208.0325733 ,  268.98351025,  181.36566272,
        108.14555676,  135.72398454,  123.03572187,   90.57610458,
        204.25098349,  198.03492969,  177.86054167,  209.97779905,
        221.21978557,  125.09789432,  163.34180758,  201.55235716,
        200.45104746,  109.66821196,  263.16930986,  157.08935486,
         93.43375717,  146.97031973,  130.77509656,  154.65222335,
        257.38333438,  169.6840042 ,  118.23003087,  158.35089862,
        301.45541887,  311.04538179,  223.7077699 ,  201.17148241,
        187.15520333,  197.59095471,  158.46950398,  125.98495606,
        117.37609877,  134.64263207,  160.21760018,  125.96533648,
        143.90810827,  139.68123843,  147.10424966,  206.3771625 ,
        181.48752128,  154.01721176,  271.53278306,  157.49838931,
        135.42577272,  135.0961771 ,  206.67520447,  143.44050628,
         96.42113907,  135.60838034,  124.93738538,  400.33089026,
         69.78960669,  210.65155053,  127.84190431,  165.51191611,
        233.0005758 ,  318.27858914,  234.30826892,  239.21382315,
        194.66186902,  314.7923174 ,  203.1841942 ,   86.17269324,
        290.29355776,  113.14353339,  217.14890267,  108.27182354,
        183.63440892,  201.75909967,  230.61162652,  140.01800008,
        140.89973189,  103.91871172,  238.11587312,  161.90461295,
        160.06100677,  167.15467515,  312.02869614,  153.36446698,
        202.73527817,  170.40255452,  155.26907599,  123.2629294 ,
        158.47354947,  272.13151484,  175.75301487,   76.84341251,
        165.85059425,  175.62876427,  144.45018756,  121.5527637 ,
        124.38208023,  162.01304452,  126.17746334,   51.58264228,
        109.20074835,  123.12957076,  136.01371217,  315.03994944,
        117.87219198,  132.07233235,  180.88231098,  166.76409681,
        222.4773324 ,  259.42808866,  181.18915174,  489.2157257 ,
        259.42243044,  181.00027129,  225.87124654,  210.1407558 ,
        220.40236791,  194.17976048,  164.97647179,  444.05012759,
        177.37950566,  227.89081785,  172.48838638,   90.73154822,
        176.93754817,  269.55329292,  191.16648546,  138.79436965,
        150.00569743,  120.81472118,  149.41334769,  178.24726509,
        208.18124138,   85.84492993,  180.71592716,  173.1065668 ,
        122.96118031,  187.12958703,  175.73721643,  244.90960882,
        315.92726374,  155.82467291,  211.13564259,  185.01777498,
        205.26100219,  225.21981041,  215.8951939 ,  214.62939624,
         87.00597435,  125.42211731,  284.35461196,  187.77283426,
        305.31515044,   83.35710011,  164.3139165 ,  202.77226109,
        297.55138996,  180.69533203,  224.27162153,  214.45161881,
        143.00992321,  188.48945228,  181.93988838,  207.39362357,
        248.05270184,  132.98982897,  161.55199051,  113.19464706,
        162.07527003,  181.81415277,  130.32370306,  144.70056032,
        165.56195943,  167.22221666,  133.27670752,  163.25644125,
        208.41521654,  102.058242  ,  149.17503985,  141.52445768,
        260.49500191,  112.06433001,  184.81373999,  190.76060422,
        256.50978593,  121.67421066,  278.31399431,  142.65765549,
        262.2236023 ,  134.42085602,  122.10360828,  112.36945917,
        104.58536591,  248.0156217 ,  109.68023913,  252.8687392 ,
        115.82595205,   77.45301811,  151.35821623,  192.43822045,
        113.47063074,  125.13605057,  234.62991521,  302.88121058,
        120.88104364,  108.48677959,  137.585224  ,  109.07770353,
        174.38966866,  211.83393551,  122.87685202,  221.55012088,
        101.51965349,   66.60525994,  116.22235945,  103.75029837,
        281.0963966 ,  160.60691926,  187.09283975,  181.2142428 ,
        208.95456881,  258.79654035,  173.3045147 ,   84.06801825,
        267.73469954,  194.51507935,  122.81375719,  230.9370315 ,
        304.19370122,  214.33966816,   95.38871624,  133.24472776,
        245.49726558,  141.04102563,  216.56376425,  147.81278064,
        223.8499833 ,  160.00150625,  173.68083206,  248.14928905,
        289.16705734,  177.02793148,  105.44387331,  124.69731631,
        196.99805102,   99.5763566 ,  159.61898993,  208.53830612,
        132.96072389,  115.84956725,  107.03436448,  108.69488141,
        212.60829529,  117.63484858,  125.66002964,  198.04831905,
        139.60710357,  110.72433046,  311.05533758,   91.20537783,
        130.93735515,  123.88565319,  228.26261641,  116.76280141,
        142.47550083,  160.96238178,  207.89466612,  142.3395549 ,
        129.00343676,  150.43596848,  158.54631111,  214.03760811,
        173.62041519,  184.28400902,  359.71161003,  152.18455989,
        119.956243  ,  162.17338988,  243.58823617,   82.82089157,
        298.24974811,  237.27872723,  136.05388302,  244.23680014,
        174.67048895,  307.60518012,  292.71104988,  357.64207117,
        214.94306621,  158.20463078,  100.44553843,  166.56449116,
        117.6042408 ,  117.48152473,  155.31876999,  151.2524956 ,
        204.43974588,  134.25531139,  228.22066279,  206.91870429,
        212.46042848,  122.32850158,  175.2722257 ,   90.28390112,
        181.20990772,  197.04634752,  167.46142618,  143.27794437,
        256.59425536,  218.30543503,   99.91651353,  141.37109727,
        195.48047533,  125.73514663,  242.47702786,  171.48837868,
        107.91539485,   94.78575283,  210.03646865,  124.94106708,
        148.81869318,  150.76238357,  222.75369401,  205.07324439,
        163.49189443,  160.59120044,  150.31982722,  139.51382092,
        135.49028504,  190.1773951 ,  117.69293703,  214.20680333,
        130.65005855,  126.01781277,  137.64678406,  101.98873586,
        226.28754874,  256.64626404,  124.37350783,  226.60764646,
        215.83980316,  174.36725373,  184.4012052 ,  209.03837712,
        175.22735943,  149.71739133,  192.60768621,  110.77812314,
        201.89078747,  143.63457036,  237.62538295,  230.93887888,
        144.11408601,  121.13752736,  150.56374848,  238.08213042,
        312.11150927,  192.96179657,  110.64406271,  173.75938414])

In [5]:
reviews = reviews.with_column("importance", importance)
reviews

ratings | importance
4       | 169.492
3       | 111.574
5       | 304.76
4       | 126.239
3       | 149.927
3       | 287.364
4       | 386.342
2       | 215.189
1       | 217.946
2       | 100.33
... (490 rows omitted)

In [6]:
#random variables are used for simulating random similarities
random_variables = np.random.random_integers(1, 2000, big_size)
reviews = reviews.with_column("random var", random_variables)

In [7]:

random_variables
def find_similarity(var):
  diff_arr = make_array()
  for r in random_variables:
    diff_arr = np.append(diff_arr, abs(r - var))
  return 2000 - diff_arr

In [8]:
similarity = find_similarity(11)
similarity

array([  846.,   361.,   561.,   183.,  1947.,   336.,  1392.,  1673.,
        1523.,  1104.,    99.,  1601.,  1767.,  1570.,   816.,  1801.,
          62.,  1789.,  1611.,   678.,  1919.,   733.,  1424.,   866.,
        1333.,   840.,  1615.,   959.,   410.,  1081.,  1764.,  1791.,
         328.,  1698.,   728.,   184.,   853.,  1835.,   589.,  1375.,
         243.,  1217.,   201.,  1981.,   337.,   644.,   709.,  1501.,
        1908.,   355.,   874.,   591.,   936.,  1312.,   637.,   180.,
        1877.,   753.,  1221.,  1345.,  1832.,  1323.,   722.,   362.,
        1902.,  1980.,  1933.,  1012.,   787.,   415.,  1495.,    20.,
        1721.,  1887.,  1178.,  1026.,  1121.,   226.,  1103.,   279.,
        1672.,   386.,  1912.,  1395.,  1887.,    44.,  1455.,  1245.,
         135.,  1165.,  1544.,  1601.,   787.,  1056.,   671.,   668.,
        1581.,   582.,   761.,   956.,   709.,   411.,   314.,   137.,
         222.,   439.,   244.,   524.,   909.,  1465.,   814.,   126.,
         760.,  1956.,  1921.,  1170.,   464.,   503.,  1318.,    53.,
         851.,  1356.,  1044.,  1971.,  1698.,  1479.,  1586.,  1874.,
        1940.,  1000.,   439.,  1173.,    46.,   196.,   549.,  1938.,
        1697.,    99.,    47.,   535.,    75.,  1081.,  1486.,   263.,
         175.,   187.,  1708.,   547.,  1725.,   608.,  1014.,   682.,
         882.,   890.,  1819.,   941.,  1132.,   679.,   814.,  1422.,
          23.,   500.,   832.,  1037.,  1635.,   616.,  1800.,   294.,
         727.,   770.,   992.,  1060.,   493.,  1752.,   310.,   744.,
         211.,  1324.,   736.,  1267.,   880.,   349.,  1976.,  1905.,
        1646.,   237.,   436.,   304.,   891.,  1158.,    95.,  1813.,
        1892.,   187.,    98.,   348.,  1935.,  1878.,  1756.,  1111.,
        1992.,  1536.,   967.,  1462.,  1326.,   210.,  1923.,   969.,
         383.,  1285.,   860.,   135.,   521.,   849.,  1944.,  1760.,
         750.,   907.,   575.,  1143.,   995.,   269.,   426.,   530.,
        1716.,   662.,   795.,  1303.,   912.,   582.,  1269.,  1797.,
          52.,   208.,   576.,   210.,   566.,   955.,  1295.,   516.,
        1243.,    46.,  1979.,  1940.,  1502.,  1377.,   581.,   937.,
         529.,   205.,   539.,  1168.,   739.,    24.,  1729.,   564.,
        1752.,  1102.,  1246.,   204.,    91.,   725.,   485.,  1360.,
          58.,   323.,   885.,  1296.,   135.,   191.,   849.,  1828.,
        1566.,   417.,  1439.,  1928.,  1220.,   450.,   458.,  1155.,
        1353.,  1791.,   558.,   935.,  1122.,  1728.,    29.,  1773.,
          70.,  1509.,   360.,  1239.,  1973.,   434.,   515.,   745.,
        1886.,   872.,   777.,   936.,   211.,   840.,  1790.,   673.,
        1026.,  1935.,   569.,   459.,   519.,   804.,  1025.,   671.,
        1070.,  1389.,   862.,   155.,  1677.,  1277.,  1225.,  1292.,
          39.,  1227.,   999.,  1185.,   502.,  1752.,   514.,  1180.,
         552.,   360.,   807.,   267.,   218.,   845.,   579.,   760.,
         631.,  1021.,  1488.,   896.,  1099.,  1505.,   988.,  1351.,
         822.,   878.,  1682.,  1189.,  1802.,  1899.,  1590.,   319.,
         351.,  1641.,  1039.,  1694.,   334.,   619.,   984.,    24.,
         608.,  1982.,  1272.,   770.,   654.,  1566.,  1313.,   853.,
        1989.,  1796.,   133.,  1011.,   290.,   357.,   553.,   583.,
          19.,   353.,  1063.,  1295.,   813.,   570.,  1916.,  1224.,
        1541.,   371.,   713.,   777.,  1176.,  1264.,   921.,   303.,
        1585.,   226.,   722.,    76.,    46.,  1049.,    27.,  1801.,
        1990.,  1892.,   841.,  1586.,   118.,  1534.,   564.,   831.,
        1344.,   896.,  1642.,  1559.,  1005.,  1569.,   500.,  1671.,
        1735.,  1940.,   633.,  1285.,  1052.,  1946.,  1962.,   832.,
        1797.,   358.,   520.,  1640.,   770.,   180.,  1974.,  1259.,
        1733.,   362.,   871.,  1299.,  1547.,   634.,  1403.,   889.,
        1399.,  1068.,   828.,  1332.,  1240.,  1189.,  1190.,   358.,
        1234.,   466.,   890.,   123.,   799.,   618.,  1197.,  1771.,
        1155.,   982.,   493.,  1405.,   346.,  1629.,  1663.,   223.,
        1553.,   278.,   290.,  1320.,   939.,   919.,   621.,  1070.,
        1697.,  1633.,   533.,   225.,  1820.,   322.,   149.,   439.,
         807.,   316.,  1936.,  1262.,   658.,  1018.,  1054.,  1946.,
          33.,  1624.,  1935.,  1400.,   521.,   385.,  1110.,  1325.,
         809.,   792.,  1398.,  1625.])

In [9]:
similarities = reviews.apply(find_similarity, "random var")
reviews = reviews.with_column("similarities", similarities)
reviews

ratings | importance | random var | similarities
4       | 169.492    | 1165       | [ 2000.  1515.  1715.  1337.   899.  1490.  1454.  1173. ...
3       | 111.574    | 1650       | [ 1515.  2000.  1800.  1822.   414.  1975.   969.   688. ...
5       | 304.76     | 1450       | [ 1715.  1800.  2000.  1622.   614.  1775.  1169.   888. ...
4       | 126.239    | 1828       | [ 1337.  1822.  1622.  2000.   236.  1847.   791.   510. ...
3       | 149.927    | 64         | [  899.   414.   614.   236.  2000.   389.  1445.  1726. ...
3       | 287.364    | 1675       | [ 1490.  1975.  1775.  1847.   389.  2000.   944.   663. ...
4       | 386.342    | 619        | [ 1454.   969.  1169.   791.  1445.   944.  2000.  1719. ...
2       | 215.189    | 338        | [ 1173.   688.   888.   510.  1726.   663.  1719.  2000. ...
1       | 217.946    | 488        | [ 1323.   838.  1038.   660.  1576.   813.  1869.  1850. ...
2       | 100.33     | 907        | [ 1742.  1257.  1457.  1079.  1157.  1232.  1712.  1431. ...
... (490 rows omitted)

In [10]:
similarities

array([[ 2000.,  1515.,  1715., ...,  1946.,  1448.,  1221.],
       [ 1515.,  2000.,  1800., ...,  1569.,   963.,   736.],
       [ 1715.,  1800.,  2000., ...,  1769.,  1163.,   936.],
       ...,
       [ 1946.,  1569.,  1769., ...,  2000.,  1394.,  1167.],
       [ 1448.,   963.,  1163., ...,  1394.,  2000.,  1773.],
       [ 1221.,   736.,   936., ...,  1167.,  1773.,  2000.]])

In [11]:
for i in range(len(similarities)):
  for j in range(len(similarities[0])):
    if i == j:
      similarities[i][j] = 0

reviews = reviews.with_column("similarities", similarities)
reviews

ratings | importance | random var | similarities
4       | 169.492    | 1165       | [    0.  1515.  1715.  1337.   899.  1490.  1454.  1173. ...
3       | 111.574    | 1650       | [ 1515.     0.  1800.  1822.   414.  1975.   969.   688. ...
5       | 304.76     | 1450       | [ 1715.  1800.     0.  1622.   614.  1775.  1169.   888. ...
4       | 126.239    | 1828       | [ 1337.  1822.  1622.     0.   236.  1847.   791.   510. ...
3       | 149.927    | 64         | [  899.   414.   614.   236.     0.   389.  1445.  1726. ...
3       | 287.364    | 1675       | [ 1490.  1975.  1775.  1847.   389.     0.   944.   663. ...
4       | 386.342    | 619        | [ 1454.   969.  1169.   791.  1445.   944.     0.  1719. ...
2       | 215.189    | 338        | [ 1173.   688.   888.   510.  1726.   663.  1719.     0. ...
1       | 217.946    | 488        | [ 1323.   838.  1038.   660.  1576.   813.  1869.  1850. ...
2       | 100.33     | 907        | [ 1742.  1257.  1457.  1079.  1157.  1232.  1712.  1431. ...
... (490 rows omitted)

In [12]:
sim_sums = reviews.apply(sum, "similarities")
reviews = reviews.with_column("similarity sum", sim_sums)
reviews

ratings | importance | random var | similarities                                                 | similarity sum
4       | 169.492    | 1165       | [    0.  1515.  1715.  1337.   899.  1490.  1454.  1173. ... | 749173
3       | 111.574    | 1650       | [ 1515.     0.  1800.  1822.   414.  1975.   969.   688. ... | 654507
5       | 304.76     | 1450       | [ 1715.  1800.     0.  1622.   614.  1775.  1169.   888. ... | 709021
4       | 126.239    | 1828       | [ 1337.  1822.  1622.     0.   236.  1847.   791.   510. ... | 588733
3       | 149.927    | 64         | [  899.   414.   614.   236.     0.   389.  1445.  1726. ... | 516717
3       | 287.364    | 1675       | [ 1490.  1975.  1775.  1847.   389.     0.   944.   663. ... | 646257
4       | 386.342    | 619        | [ 1454.   969.  1169.   791.  1445.   944.     0.  1719. ... | 700575
2       | 215.189    | 338        | [ 1173.   688.   888.   510.  1726.   663.  1719.     0. ... | 624289
1       | 217.946    | 488        | [ 1323.   838.  1038.   660.  1576.   813.  1869.  1850. ... | 668637
2       | 100.33     | 907        | [ 1742.  1257.  1457.  1079.  1157.  1232.  1712.  1431. ... | 744183
... (490 rows omitted)

In [13]:
def find_proportion(similarities, total_sum):
  return similarities / total_sum

similarity_proportions = reviews.apply(find_proportion, "similarities", "similarity sum")
similarity_proportions

array([[ 0.        ,  0.00202223,  0.00228919, ...,  0.00259753,
         0.0019328 ,  0.0016298 ],
       [ 0.00231472,  0.        ,  0.00275016, ...,  0.00239722,
         0.00147134,  0.00112451],
       [ 0.00241883,  0.00253871,  0.        , ...,  0.00249499,
         0.00164029,  0.00132013],
       ...,
       [ 0.00261222,  0.00210616,  0.00237463, ...,  0.        ,
         0.00187124,  0.00156653],
       [ 0.00207083,  0.00137722,  0.00166324, ...,  0.0019936 ,
         0.        ,  0.00253562],
       [ 0.00190904,  0.00115074,  0.00146344, ...,  0.00182461,
         0.00277209,  0.        ]])

In [14]:
for i in range(len(similarity_proportions)):
  for j in range(len(similarity_proportions)):
    if i == j:
      similarity_proportions[i][j] = 0.9
    else:
      similarity_proportions[i][j] = similarity_proportions[i][j] * 0.1

reviews = reviews.with_column("similarity proportions", similarity_proportions)
reviews

ratings | importance | random var | similarities                                                 | similarity sum | similarity proportions
4       | 169.492    | 1165       | [    0.  1515.  1715.  1337.   899.  1490.  1454.  1173. ... | 749173         | [  9.00000000e-01   2.02222985e-04   2.28919088e-04   1. ...
3       | 111.574    | 1650       | [ 1515.     0.  1800.  1822.   414.  1975.   969.   688. ... | 654507         | [  2.31471932e-04   9.00000000e-01   2.75016157e-04   2. ...
5       | 304.76     | 1450       | [ 1715.  1800.     0.  1622.   614.  1775.  1169.   888. ... | 709021         | [  2.41882822e-04   2.53871183e-04   9.00000000e-01   2. ...
4       | 126.239    | 1828       | [ 1337.  1822.  1622.     0.   236.  1847.   791.   510. ... | 588733         | [  2.27097853e-04   3.09478151e-04   2.75506894e-04   9. ...
3       | 149.927    | 64         | [  899.   414.   614.   236.     0.   389.  1445.  1726. ... | 516717         | [  1.73983051e-04   8.01212269e-05   1.18827134e-04   4. ...
3       | 287.364    | 1675       | [ 1490.  1975.  1775.  1847.   389.     0.   944.   663. ... | 646257         | [  2.30558431e-04   3.05605974e-04   2.74658534e-04   2. ...
4       | 386.342    | 619        | [ 1454.   969.  1169.   791.  1445.   944.     0.  1719. ... | 700575         | [  2.07543803e-04   1.38314956e-04   1.66862934e-04   1. ...
2       | 215.189    | 338        | [ 1173.   688.   888.   510.  1726.   663.  1719.     0. ... | 624289         | [  1.87893748e-04   1.10205370e-04   1.42241814e-04   8. ...
1       | 217.946    | 488        | [ 1323.   838.  1038.   660.  1576.   813.  1869.  1850. ... | 668637         | [  1.97865209e-04   1.25329588e-04   1.55241185e-04   9. ...
2       | 100.33     | 907        | [ 1742.  1257.  1457.  1079.  1157.  1232.  1712.  1431. ... | 744183         | [  2.34082208e-04   1.68910066e-04   1.95785176e-04   1. ...
... (490 rows omitted)

In [15]:
matriixx = np.asmatrix(similarity_proportions)
matriixx

matrix([[  9.00000000e-01,   2.02222985e-04,   2.28919088e-04, ...,
           2.59753088e-04,   1.93279790e-04,   1.62979712e-04],
        [  2.31471932e-04,   9.00000000e-01,   2.75016157e-04, ...,
           2.39722417e-04,   1.47133644e-04,   1.12451051e-04],
        [  2.41882822e-04,   2.53871183e-04,   9.00000000e-01, ...,
           2.49498957e-04,   1.64028992e-04,   1.32013015e-04],
        ...,
        [  2.61222430e-04,   2.10615618e-04,   2.37462733e-04, ...,
           9.00000000e-01,   1.87124392e-04,   1.56652916e-04],
        [  2.07082863e-04,   1.37721545e-04,   1.66324150e-04, ...,
           1.99360160e-04,   9.00000000e-01,   2.53562097e-04],
        [  1.90903846e-04,   1.15073899e-04,   1.46343980e-04, ...,
           1.82460924e-04,   2.77209270e-04,   9.00000000e-01]])

In [16]:
importance

array([ 169.49198585,  111.57398216,  304.75992838,  126.2385845 ,
        149.92733155,  287.36444911,  386.34184174,  215.18900585,
        217.94559453,  100.33015823,  105.82505474,  112.96582956,
         78.00361969,  122.8053056 ,  192.90907792,  220.94463508,
        179.86556906,  118.05742332,  181.78694759,  162.49211845,
        176.02638002,  216.31814194,  240.41697686,  345.3036211 ,
        265.71174599,  127.29642408,  177.08261322,  136.55851164,
        212.96638395,  141.74077546,  257.67886782,  218.00729292,
        147.06022896,  122.10396004,  237.81799075,  346.30306581,
         88.16204536,  177.46415251,  163.62870253,  188.1481927 ,
        139.35816622,  185.62459815,  148.91152413,  191.13362961,
        160.8131272 ,   92.60391269,  155.70908947,  161.70619193,
        101.65905569,   98.46110668,  166.44475209,  202.79282696,
        169.23091973,  262.54669673,  115.99433074,  142.82733497,
        292.16149653,  159.78009255,  162.47457928,  217.02921818,
        125.55617493,  165.68566364,  171.81040152,  177.74355766,
        149.93113494,  166.39872575,  154.39875601,  216.54147229,
        199.96742433,  224.14364486,  287.30641366,  139.36836807,
        108.69645646,  109.49382235,  195.99902816,  221.33293223,
        139.709683  ,  170.44735687,  173.83198233,  163.5502394 ,
        159.91343022,   93.53832551,  268.5572419 ,  125.89123626,
        135.94215972,  237.10333955,  447.31258155,  135.38093337,
        155.12810063,  197.45235758,  192.19477258,  153.2469168 ,
        218.68713963,  203.51434872,  279.64050107,  128.73939608,
        137.51049841,  153.77757371,   92.71297823,  130.8043302 ,
        132.93722346,  260.62262938,  221.17007957,  153.77058088,
        154.92070118,  256.26665252,  233.11293995,  172.13639322,
        101.41257558,  158.80202833,  273.77629443,   68.70601059,
        259.22494245,  160.89179733,  122.68971376,   85.59928751,
        161.97484629,  171.48153226,  100.42442358,  212.78296745,
        124.04418083,  242.70580826,  159.4307398 ,  210.25332918,
        177.97407485,  190.53750337,  229.41011269,  296.71319604,
        220.55355831,  174.95322765,  141.01132504,  153.40289015,
        168.28579037,  105.57972484,  174.81875197,  101.10135426,
        185.67474301,  159.33068064,  199.44630109,  115.51421635,
        173.33995465,  208.0325733 ,  268.98351025,  181.36566272,
        108.14555676,  135.72398454,  123.03572187,   90.57610458,
        204.25098349,  198.03492969,  177.86054167,  209.97779905,
        221.21978557,  125.09789432,  163.34180758,  201.55235716,
        200.45104746,  109.66821196,  263.16930986,  157.08935486,
         93.43375717,  146.97031973,  130.77509656,  154.65222335,
        257.38333438,  169.6840042 ,  118.23003087,  158.35089862,
        301.45541887,  311.04538179,  223.7077699 ,  201.17148241,
        187.15520333,  197.59095471,  158.46950398,  125.98495606,
        117.37609877,  134.64263207,  160.21760018,  125.96533648,
        143.90810827,  139.68123843,  147.10424966,  206.3771625 ,
        181.48752128,  154.01721176,  271.53278306,  157.49838931,
        135.42577272,  135.0961771 ,  206.67520447,  143.44050628,
         96.42113907,  135.60838034,  124.93738538,  400.33089026,
         69.78960669,  210.65155053,  127.84190431,  165.51191611,
        233.0005758 ,  318.27858914,  234.30826892,  239.21382315,
        194.66186902,  314.7923174 ,  203.1841942 ,   86.17269324,
        290.29355776,  113.14353339,  217.14890267,  108.27182354,
        183.63440892,  201.75909967,  230.61162652,  140.01800008,
        140.89973189,  103.91871172,  238.11587312,  161.90461295,
        160.06100677,  167.15467515,  312.02869614,  153.36446698,
        202.73527817,  170.40255452,  155.26907599,  123.2629294 ,
        158.47354947,  272.13151484,  175.75301487,   76.84341251,
        165.85059425,  175.62876427,  144.45018756,  121.5527637 ,
        124.38208023,  162.01304452,  126.17746334,   51.58264228,
        109.20074835,  123.12957076,  136.01371217,  315.03994944,
        117.87219198,  132.07233235,  180.88231098,  166.76409681,
        222.4773324 ,  259.42808866,  181.18915174,  489.2157257 ,
        259.42243044,  181.00027129,  225.87124654,  210.1407558 ,
        220.40236791,  194.17976048,  164.97647179,  444.05012759,
        177.37950566,  227.89081785,  172.48838638,   90.73154822,
        176.93754817,  269.55329292,  191.16648546,  138.79436965,
        150.00569743,  120.81472118,  149.41334769,  178.24726509,
        208.18124138,   85.84492993,  180.71592716,  173.1065668 ,
        122.96118031,  187.12958703,  175.73721643,  244.90960882,
        315.92726374,  155.82467291,  211.13564259,  185.01777498,
        205.26100219,  225.21981041,  215.8951939 ,  214.62939624,
         87.00597435,  125.42211731,  284.35461196,  187.77283426,
        305.31515044,   83.35710011,  164.3139165 ,  202.77226109,
        297.55138996,  180.69533203,  224.27162153,  214.45161881,
        143.00992321,  188.48945228,  181.93988838,  207.39362357,
        248.05270184,  132.98982897,  161.55199051,  113.19464706,
        162.07527003,  181.81415277,  130.32370306,  144.70056032,
        165.56195943,  167.22221666,  133.27670752,  163.25644125,
        208.41521654,  102.058242  ,  149.17503985,  141.52445768,
        260.49500191,  112.06433001,  184.81373999,  190.76060422,
        256.50978593,  121.67421066,  278.31399431,  142.65765549,
        262.2236023 ,  134.42085602,  122.10360828,  112.36945917,
        104.58536591,  248.0156217 ,  109.68023913,  252.8687392 ,
        115.82595205,   77.45301811,  151.35821623,  192.43822045,
        113.47063074,  125.13605057,  234.62991521,  302.88121058,
        120.88104364,  108.48677959,  137.585224  ,  109.07770353,
        174.38966866,  211.83393551,  122.87685202,  221.55012088,
        101.51965349,   66.60525994,  116.22235945,  103.75029837,
        281.0963966 ,  160.60691926,  187.09283975,  181.2142428 ,
        208.95456881,  258.79654035,  173.3045147 ,   84.06801825,
        267.73469954,  194.51507935,  122.81375719,  230.9370315 ,
        304.19370122,  214.33966816,   95.38871624,  133.24472776,
        245.49726558,  141.04102563,  216.56376425,  147.81278064,
        223.8499833 ,  160.00150625,  173.68083206,  248.14928905,
        289.16705734,  177.02793148,  105.44387331,  124.69731631,
        196.99805102,   99.5763566 ,  159.61898993,  208.53830612,
        132.96072389,  115.84956725,  107.03436448,  108.69488141,
        212.60829529,  117.63484858,  125.66002964,  198.04831905,
        139.60710357,  110.72433046,  311.05533758,   91.20537783,
        130.93735515,  123.88565319,  228.26261641,  116.76280141,
        142.47550083,  160.96238178,  207.89466612,  142.3395549 ,
        129.00343676,  150.43596848,  158.54631111,  214.03760811,
        173.62041519,  184.28400902,  359.71161003,  152.18455989,
        119.956243  ,  162.17338988,  243.58823617,   82.82089157,
        298.24974811,  237.27872723,  136.05388302,  244.23680014,
        174.67048895,  307.60518012,  292.71104988,  357.64207117,
        214.94306621,  158.20463078,  100.44553843,  166.56449116,
        117.6042408 ,  117.48152473,  155.31876999,  151.2524956 ,
        204.43974588,  134.25531139,  228.22066279,  206.91870429,
        212.46042848,  122.32850158,  175.2722257 ,   90.28390112,
        181.20990772,  197.04634752,  167.46142618,  143.27794437,
        256.59425536,  218.30543503,   99.91651353,  141.37109727,
        195.48047533,  125.73514663,  242.47702786,  171.48837868,
        107.91539485,   94.78575283,  210.03646865,  124.94106708,
        148.81869318,  150.76238357,  222.75369401,  205.07324439,
        163.49189443,  160.59120044,  150.31982722,  139.51382092,
        135.49028504,  190.1773951 ,  117.69293703,  214.20680333,
        130.65005855,  126.01781277,  137.64678406,  101.98873586,
        226.28754874,  256.64626404,  124.37350783,  226.60764646,
        215.83980316,  174.36725373,  184.4012052 ,  209.03837712,
        175.22735943,  149.71739133,  192.60768621,  110.77812314,
        201.89078747,  143.63457036,  237.62538295,  230.93887888,
        144.11408601,  121.13752736,  150.56374848,  238.08213042,
        312.11150927,  192.96179657,  110.64406271,  173.75938414])

In [17]:
new_importance = np.array(np.dot(importance, matriixx))
for i in range(500):
  new_importance = np.array(np.dot(new_importance, matriixx))
new_importance

array([[ 199.83923899,  174.58741946,  189.12883549,  157.04243838,
         137.83242596,  172.38676123,  186.87589496,  166.5268752 ,
         178.35654681,  198.5081742 ,  147.2699154 ,  172.54200767,
         157.75465141,  174.94806066,  199.28600685,  154.30135185,
         142.7378932 ,  155.54172285,  171.74176831,  194.81266887,
         141.22170637,  196.92850172,  184.90303821,  200.09264812,
         190.20329019,  199.74321027,  171.4195386 ,  200.37166491,
         178.5528722 ,  198.99098528,  158.05234045,  155.33846205,
         171.65800993,  164.30327678,  196.75244906,  157.15447189,
         199.93846867,  150.64052356,  190.66262758,  187.8649908 ,
         163.40274076,  195.28107564,  159.02703198,  133.4924612 ,
         172.47692153,  193.33649401,  196.03916905,  179.88713795,
         142.50635728,  174.07526627,  200.17533952,  190.76505822,
         200.41967927,  191.27827839,  193.01906573,  156.70473737,
         146.02314249,  197.59483435,  195.14183399,  189.5561633 ,
         150.96862169,  190.7287807 ,  196.53371697,  174.67064435,
         143.19936456,  133.62316696,  139.55667502,  200.04570075,
         198.58446369,  178.94819044,  180.29365954,  137.36188522,
         162.18317599,  144.90814232,  196.57959736,  199.88992082,
         198.10698754,  161.67369027,  198.5305809 ,  166.99314799,
         166.61436803,  176.63229775,  142.04115147,  186.69824183,
         144.90814232,  140.47908425,  182.92644701,  194.23969749,
         151.55066245,  196.96051129,  176.86650113,  172.54200767,
         198.58446369,  199.45725807,  194.52404921,  194.39601091,
         174.10887632,  190.29985241,  197.84557602,  200.38126778,
         196.03916905,  178.63236264,  170.36055519,  151.78219837,
         161.25969977,  180.8074132 ,  163.50357092,  186.85882319,
         200.37806682,  182.27932012,  199.24439441,  150.49061205,
         197.81516692,  136.6944856 ,  140.98590251,  196.81806869,
         182.66130104,  185.44720097,  190.98112285,  141.61649112,
         199.91179403,  188.9474479 ,  199.6434471 ,  134.7851145 ,
         164.30327678,  181.36064534,  173.72422794,  146.35444158,
         138.70522035,  200.15239933,  180.8074132 ,  196.73004236,
         140.73516084,  158.48020175,  188.41608897,  138.95062708,
         164.39397057,  147.2699154 ,  140.86159866,  187.55609841,
         144.34424032,  198.99098528,  180.8975735 ,  165.40920757,
         156.13656743,  157.48897194,  163.38566899,  188.29445259,
         161.80973096,  191.62664926,  200.02542802,  194.97325023,
         200.2446936 ,  200.30124385,  152.37810994,  200.41381085,
         197.8317052 ,  194.85321433,  199.24439441,  185.02894254,
         137.75880394,  185.23967223,  199.60236814,  199.74321027,
         169.78224889,  192.02356798,  154.40644995,  168.45331807,
         196.71670504,  198.11445644,  200.21108355,  199.38897098,
         184.74672479,  159.23029277,  169.98284222,  197.30301374,
         160.10575463,  190.67756538,  197.03253283,  193.33969497,
         200.22868881,  173.55030925,  134.14225556,  142.85366116,
         168.85290425,  162.79455885,  180.57854475,  169.4130718 ,
         200.30657877,  197.15470271,  146.78603734,  153.02150238,
         144.34263985,  157.48897194,  147.149346  ,  173.46174943,
         139.31660321,  145.91217596,  158.83977597,  198.34705935,
         132.041894  ,  177.440006  ,  200.34178931,  182.47457852,
         190.57353427,  159.99958954,  140.74903166,  200.33325342,
         176.38955848,  192.55172595,  200.02436103,  151.55066245,
         186.66516527,  199.8840524 ,  138.20800496,  158.44712519,
         197.49880563,  200.37166491,  189.92053896,  197.55002095,
         200.19027732,  166.00671962,  179.80604702,  187.24240459,
         162.64731481,  194.13673336,  198.79199243,  191.71520908,
         200.38606922,  190.29985241,  193.2543361 ,  154.72014378,
         141.49112028,  159.78512539,  189.97548872,  159.99958954,
         189.41745515,  200.38393525,  192.0966565 ,  186.33333268,
         194.31865444,  140.73516084,  133.75333923,  138.70522035,
         179.81885085,  187.74975634,  190.24650312,  200.41914578,
         187.17891893,  159.46182869,  187.80363912,  196.87568592,
         197.13496347,  137.89057669,  161.43361846,  189.30328767,
         159.23029277,  198.55245411,  194.19968552,  159.35352963,
         146.29949181,  196.64415   ,  184.1748204 ,  188.72124691,
         142.24067781,  171.19920603,  200.2671003 ,  192.04970913,
         151.55066245,  157.93070406,  199.8840524 ,  151.4039519 ,
         175.24948415,  179.10503735,  183.95075338,  140.15418707,
         195.17704452,  181.62899227,  182.22223638,  197.23632712,
         189.11549817,  155.33846205,  188.95278283,  200.41914578,
         198.08244687,  161.5280467 ,  138.54303851,  157.15500538,
         143.72805602,  179.33497279,  174.50366107,  194.47390088,
         134.52903791,  180.42489879,  186.26611258,  197.3360903 ,
         145.02017583,  200.15613378,  198.31238231,  200.41967927,
         160.10575463,  199.74321027,  155.4403592 ,  194.6072741 ,
         199.88992082,  139.31660321,  189.58710589,  182.2958584 ,
         186.53339252,  199.01499246,  199.90219116,  194.52404921,
         199.20811689,  187.05194762,  200.04783472,  153.85321781,
         166.17476988,  192.90596524,  194.9983244 ,  192.23429767,
         139.8362253 ,  194.92470238,  200.16040172,  196.36033178,
         185.37838039,  159.23029277,  186.19835898,  196.51771218,
         188.59694307,  174.50366107,  199.087014  ,  165.80826026,
         160.84144134,  199.8237677 ,  190.13873755,  197.81516692,
         192.74111593,  199.94913853,  180.76420028,  200.33058596,
         198.61647326,  179.6123891 ,  200.2366912 ,  189.22646469,
         199.40764323,  200.21161704,  165.73197077,  196.23229348,
         154.19518676,  143.54346748,  173.41053411,  170.82842847,
         173.72636191,  169.27916508,  199.71546864,  164.662851  ,
         172.20537365,  192.17027852,  200.26016489,  137.89057669,
         191.62664926,  133.36122195,  193.12469733,  198.11445644,
         193.78462805,  175.24948415,  191.22919704,  199.93846867,
         132.43881272,  154.8236414 ,  151.31592557,  200.05530362,
         168.0670692 ,  174.24811797,  188.65669427,  190.35213471,
         137.22904549,  173.90134758,  199.33615519,  192.0966565 ,
         199.2225212 ,  189.64312265,  141.57381168,  195.03460192,
         177.08256576,  175.41006551,  196.19281501,  198.31238231,
         196.64041555,  193.46613278,  200.40420798,  169.31757657,
         173.80158441,  161.67369027,  196.53371697,  144.46694369,
         140.73516084,  199.56875809,  138.28269397,  154.30135185,
         129.65077881,  144.34263985,  199.75974855,  173.72422794,
         149.54046119,  177.58191511,  189.30328767,  199.58369589,
         189.61057958,  200.33058596,  169.19433971,  175.76857274,
         200.10971989,  175.02381665,  185.23967223,  166.70132738,
         160.86278105,  138.70522035,  192.83501068,  192.55172595,
         199.52234421,  137.95833029,  135.93265774,  199.60236814,
         154.72014378,  174.33401033,  186.59954564,  169.36345696,
         198.11445644,  156.70473737,  134.40046612,  193.67259454,
         161.05377151,  174.67064435,  200.14599741,  191.90726652,
         176.64883603,  192.88142456,  186.21383027,  200.29484193,
         186.45870351,  199.24546139,  199.52607866,  190.25663948,
         194.43548939,  196.23229348,  196.19921692,  174.33401033,
         194.66329086,  182.80641111,  200.30124385,  150.13530578,
         198.89228909,  192.12173067,  195.96394655,  157.35559872,
         197.23632712,  200.27083475,  184.74672479,  186.09005992,
         173.2835628 ,  170.27946427,  167.39273418,  161.36373089,
         176.21030486,  166.8949853 ,  168.0670692 ,  190.88082618,
         200.41701181,  200.40100702,  192.26630725,  199.20811689,
         164.39397057,  169.94869867,  187.43126107,  161.57072614,
         152.27034437,  171.10691176,  153.16501197,  180.8074132 ,
         199.087014  ,  170.54834469,  139.19496683,  193.54935768,
         193.96174769,  199.98274858,  199.49033463,  137.95833029,
         139.06159361,  170.68972031,  139.31660321,  186.39788532,
         186.66516527,  176.55174032,  198.37053303,  190.62581657,
         199.13289439,  198.71516945,  186.51898821,  170.6080959 ]])

In [18]:
final_tbl = reviews.select("ratings", "importance")
final_tbl = final_tbl.with_column("steady importance",new_importance[0])
final_tbl

ratings | importance | steady importance
4       | 169.492    | 199.839
3       | 111.574    | 174.587
5       | 304.76     | 189.129
4       | 126.239    | 157.042
3       | 149.927    | 137.832
3       | 287.364    | 172.387
4       | 386.342    | 186.876
2       | 215.189    | 166.527
1       | 217.946    | 178.357
2       | 100.33     | 198.508
... (490 rows omitted)

In [19]:
total_importance = sum(final_tbl.column("steady importance"))
proportional_importance = final_tbl.column("steady importance") / total_importance
proportional_importance
final_tbl = final_tbl.with_column("proportional importance", proportional_importance)
final_tbl
cool_average = sum(final_tbl.column("ratings") * final_tbl.column("proportional importance"))
cool_average

3.1962883721163342

In [20]:
vanilla_average_rating = np.mean(final_tbl.column("ratings"))
vanilla_average_rating

3.198

In [21]:
final_tbl

ratings | importance | steady importance | proportional importance
4       | 169.492    | 199.839           | 0.00225089
3       | 111.574    | 174.587           | 0.00196647
5       | 304.76     | 189.129           | 0.00213025
4       | 126.239    | 157.042           | 0.00176885
3       | 149.927    | 137.832           | 0.00155248
3       | 287.364    | 172.387           | 0.00194168
4       | 386.342    | 186.876           | 0.00210488
2       | 215.189    | 166.527           | 0.00187568
1       | 217.946    | 178.357           | 0.00200892
2       | 100.33     | 198.508           | 0.0022359
... (490 rows omitted)

In [22]:
os.system("touch results.csv")
final_tbl.to_csv('results.csv')